# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env
.venv/

# SQLite database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Ignorar a pasta de dados do MySQL
.db/

# Garantir que o cache do python suma
__pycache__/
src/**/__pycache__/